@tailwind base;
@tailwind components;
@tailwind utilities;

.errorMsg {
    @apply text-error-400 text-sm pt-2;
}

.error {
  .input-el {
    @apply border-error-400 focus:ring-1 focus:ring-error-400 focus:border-error-400;
  }
}
.input-el {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg transition-colors duration-500 focus:ring-1 focus:shadow-xl focus:outline-0 focus:ring-primary-500 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.label {
    &-input {
    @apply block mb-2 w-fit h-fit text-sm font-medium text-gray-900 dark:text-white;
    
    &-required {
      @apply after:content-['*'] after:ml-0.5 after:text-red-500;
    }
  }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3476F8;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }