@tailwind base;
@tailwind components;
@tailwind utilities;

.errorMsg {
    @apply text-error-400 text-sm pt-2;
}


.input-effect {
    @apply relative z-10;
    &:focus{
        outline: none;
    }
    .input-effect-el{
        @apply relative bg-transparent;
        & ~ .focus-bg:before,
        & ~ .focus-bg:after{content: ""; position: absolute; left: 0; top: 0; width: 0; height: 0; background-color: #ededed; transition: 0.3s; z-index: -1;}
        &:focus ~ .focus-bg:before{transition: .7s; width: 50%; height: 100%; transition-timing-function: ease-in;}
        & ~ .focus-bg:after{left: auto; right: 0; top: auto; bottom: 0;}
        &:focus ~ .focus-bg:after{transition: .7s; width: 50%; height: 100%; transition-timing-function: ease-in;}
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3476F8;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }